.top-bar{ 
    padding:6px 0;
    background-color:#131d29 ;
}
.top-bar a{ 
    color: grey;
    text-decoration: none;
    text-transform:uppercase;
}
.top-bar ul{
    text-align: right;
    list-style:none; 
    padding:0;
    margin:0;
}
.top-bar li{
    display:inline;
}
.branding img{ 
    margin:15px 0;
}
.branding ul{
    list-style:none;
    padding:20px 0;
    margin:20px00;
    text-align:right;
}
.branding li{
    display: inline;
}
.branding a { 
    padding:6px 8px;
    background-color: #131d29;
    color:white;
    text-decoration:none;
    text-transformed:uppercase;
    border-radius:8px;
}  
.more {
     padding:6px 8px;
    background-color:#131d29;
    color:white;
    text-decoration:none;
    text-transformed:uppercase;
    border-radius:8px;

}

.second-bar ul a {
     background-color:#131d29;
     color:#fff;
     padding: 5px 5px;
     border-radius: 5px;
     text-decoration: none;
 }

.outer-bottom {
background:#325373;
bacground:linear-gradient(to bottom, #1f354b 1%, #0f1b24 100%);
 }

 